* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------CARACTERÍSTACAS QUE AFECTAN A TODO EL BODY----------------*/ 
body {
    /*background: linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);*/
    background-image: url("fondos/fonfo1.PNG");
    background-size: cover;
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:center;
    background-size: 210rem;
    color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.6em; 
}

/*--------------------CARACTERÍSTICAS DEL HEADER----------------------*/
.header {
  position: static;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 220px;
  padding: 50px;
  background: #5bb9eb;
  font-size: 20px;
  font-weight: bold 700;
  text-transform: uppercase;
  color: #FFFFFF;
}

.imagLogo1{
    width: 150px;
    height: 150px;
    object-fit: cover;
    /* max-width: 150px; */
    /* text-align: left; */ 
    display: flex;
    align-items: center;
    justify-content: center;   
}

.menu{
    justify-content: space-between;
    width: 750px;
    margin-top: 15px;
}

.menu .logo {
    margin: 0 0 0 15px;
    width: 700px;
    height: 105px;     
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.user{
    width: 100px;
    height: 100px;
}

.logo .user{
    width: 100%;
    height: 100%;    
    font: 20px;
    line-height: 20px;
    color: blanchedalmond;
}

.user button{
    height: 100px;
    width: 100px;
    border-style:none;
    background: rgb(39, 151, 196);    
    border: 0;
    border-radius: 40px;
    padding: 0 20px 3px 20px;
    color: #FFFFFF;
    cursor: pointer;
    position: relative;
    top: 25px;
}

.user button:hover{
    background-color: rgb(22, 77, 99);     
}

.logo{
    width: 150px; 
    height: 150px;
    
}

/* ----------estilos de la tabla que contiene los links------------ */
.nav{
    display: flex;
    position: relative;
    z-index: 5;
}

.navBar{
    background-color: rgb(50, 63, 184);
    color: white;
    float: left;
    border: 1px solid rgb(152, 155, 184);
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    height:70px;
    font-size: 25px;
}
  
.nav button:hover {    
    background-color: rgb(13, 188, 231);    
}

/*-----------------caracaterísticas que afectan al main------------------*/
.main{
    /* background: linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%); */
    height: 100%;
}

/*------------CARACTERÍSTICAS QUE AFECTAN TARJETAS Y FORMULARIO---------------*/
.gigantBox{
    position: relative;
}

/*------------CARACTERÍSTICAS QUE AFECTAN SOLO A LAS TARJETAS---------------*/
.boxCard{    
    width: 1000px;
    max-width: 900px;
    height: 550px;
    padding: 40px 20px;
    border: 50px;
    margin: auto;   
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-------------ESTILO DE TRASERO Y DELANTERO DE LA TARJETA----------------*/
.card{
    width: 800;
    max-width: 500px;
    height: 100%;
    position: relative;
    z-index: 2;
    color: aliceblue;
}

.cardFront {
    padding: 20px 20px 10px 20px;
    border-radius: 15px;
    max-height: 315px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 10px 0 rgb(134, 129, 129);
    width: 100%;
    text-transform: uppercase;
    background-image: linear-gradient(rgb(9, 7, 121), rgb(103, 95, 204));   
}

.cardFront:hover{
    box-shadow: 1px 2px 2px 2px rgb(134, 129, 129); 
}

.cardBack {
    padding: 15px 0 15px 0;    
    border-radius: 15px;
    max-height: 315px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 10px 10px 0 rgb(134, 129, 129);
    background-image: linear-gradient(rgb(117, 78, 189), rgb(78, 161, 238));    
}

.cardBack:hover{
    box-shadow: 1px 2px 2px 2px rgb(134, 129, 129); 
}
/*---------------CARCATERÍSTICAS QUE AFECTAN LA POSICIÓN DE LAS TARJETAS---------------*/
.cardBackPosition {
    position: relative;
    left: 150px;
    top: 90px;
    z-index: 1;
}

.cardFrontPosition{
    position: relative;
    bottom: 170px;
    right: 150px;
    z-index: 3;
}

/*---------DATOS DE LAS TARJETAS-----------*/
.datoBack{
    margin:  0 40px 0 40px;
    padding: 0;
    border: 10px 0 0 0;
    font-size: relative;
    justify-content: right;
    letter-spacing: 2px;
}

.contenidoCard1{
    margin: 5px;
    letter-spacing: 2px;
}

.contenidoCard2{ 
    height: 250px;     
}

/*------------Imagenes y logos de las tarjetas------------*/
.card > div {
    padding: 30px;
    border-radius: 15px;
    min-height: 315px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10 10px 0 rgba(90, 116, 148, 0.3);
}

.logoCard {
    min-height: 50px;
    text-align: right;
}

.imagVisa {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100px;
    text-align: right;
    border: 0;
    border-radius: 10px;
}

.imagChip {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 80px;
    text-align: left;
    margin: 0 0 30px 0;
    border: 0;
    border-radius: 10px;
}

/*----elementos presentes en la parte trasera de la tarjeta----*/
.bar{
    height: 60px;
    width: 100%;
    padding: 0;
    background:rgb(22, 22, 22);
    display: flex;
}

.propFirma{
    justify-content: right;
    color: azure;
    width: 100%;
    display: flex;
    font-size: 10px;
}

.firma{
    height: 40px;
    padding: 0;
    background: repeating-linear-gradient(azure 2px, rgb(200, 207, 207) 7px, rgb(19, 24, 24) 2px, rgb(26, 134, 134) 5%);
    display: flex;
}

.contentCvv{
    height: 40px;    
}

.cvvPosition{
    display: inline;
    justify-content: right;
    display: flex;    
}

.cvvCard{
    color: azure;
    justify-content: right;    
    font-size: 20px;    
}

.boxCvv{
    color: azure;
    justify-content: right;  
    font-size: 18px;      
}

.cvvPosition .boxCvv{
    background: #FFFF;
    height: 22px;
    width: 60px;
    color: black;
    padding: 5px 5px 10px 5px;
    text-align: center;
    font-size: 14px;
}

.cvvPosition .cvvCard{
    margin: 0 10px 0 0;
}


.leyenda{
    font-size: 8px;
    line-height: 100%;
    text-transform: uppercase;    
}

.dateContainerCard{
    display: flex;
    justify-content: space-around;
    justify-content: left;
}

.dateCardleft{
    padding: 0 10px 0 0 ;
    color: #FFFF;
    font-size: 12px;
}

.dateCardright{
    padding: 0 0 0 10px ;
    color: #FFFF;
    font-size: 12px;
}

/*------------Carcaterísticas de las letras de las tarjetas-------------*/
.label{
    color: #FFFF;
    font-size: 12px;
}

.infCard{
    color: #FFFF;
    font-size: 20px;     
}

.labelBack {
    text-align: right;
    font-size: 11px
}

.numbCvv {
    text-align: right;
}

.dateContainer{
    display: flex;
    justify-content: space-around;
}

.dateContainerleft{
    width: 50%;
    padding: 0 10px 0 0;
}

.dateContainerright{
    width: 50%;
    padding: 0 0px 0 10px;
}

.cvvContainer{
    display: flex;
    justify-content: left;
    width: 50%;
    padding: 0 10px 0 0;    
}
/*------------------------CARACTERÍSTICAS QUE AFECTAN AL FORMULARIO-----------------------*/
.boxForm {    
    z-index: 1;
    position: relative;
    bottom: 150px;
    background: #FFFFFF;
    width: 800px;  
    height: 800px;  
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 30px auto 100px;
    overflow: hidden;
    box-shadow: 0 10px 10px 0px rgb(185, 182, 182);    
}

.formPanel {   
    padding: 40px;
    box-sizing: border-box;
    margin: 80px 0 80px 0;
}

.formHeader {
    margin: 20px 0 20px 0;
}

.formHeader h1 {
    display: flex;
    padding: 4px 0;
    color: #4285F4;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    justify-content: center;
}

.formContent {
    height: auto;
} 

.formGroup {
    display: flexbox; 
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 20px;
}

.formGroup input:hover{
    border: 2px solid rgba(78, 12, 202, 0.1);
    transition: 0.5s;
}

.formGroup input:focus{
    outline: rgb(4, 4, 4);
    box-shadow: 1px 2px 2px 2px rgb(134, 129, 129);
}

.formGroup input{
    text-transform: uppercase;
}

.formGroup label {
    display: block;
    margin: 0 0 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.formGroup input {
    outline: none;
    display: block;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.6);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    transition: 0.3s ease;
}

.formGroup .bntForm {
    display: flex;
    justify-content: center;
    outline: none;    
    width: 100%;
    border: 0;
    border-radius: 10px;
    padding: 12px 20px;
    color: #FFFFFF;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;
}

.containerBntForm{
    display: flex;
    padding: 0 100px 0 100px;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.formGroup #clean{
    background-color: rgb(194, 79, 79);    
    /* background-image: linear-gradient(rgb(194, 79, 79), rgb(224, 152, 152)); */
}

.formGroup #validateBtn{
    background-color: rgb(41, 189, 49);
}

.formGroup #clean:hover {
    background-color: rgb(190, 12, 12);
    box-shadow: 1px 2px 2px 2px rgb(134, 129, 129);    
}

.formGroup #validateBtn:hover {
    background-color: rgb(16, 104, 16);  
    box-shadow: 1px 2px 2px 2px rgb(134, 129, 129);  
}

/*----------------CARACTERÍSTICAS QUE AFECTAN EL FOOTER------------------*/
.footer{
    padding: 20px;
    width: auto;
    height: 220px;
    background: #5bb9eb;
    justify-content: center;
    align-items: center;
    display: flex;
    color: rgb(236, 228, 228);
    vertical-align: middle;
    font-size: 18px;
    position: static;
    flex-direction: column;    
}

/*------------------------------------------------------------------*/
